In [1]:
import pandas as pd

In [2]:
# Reference: https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8/about_data

data_link = "https://data.lacity.org/resource/2nrs-mtv8.csv"

crime_df = pd.read_csv(data_link)

crime_df

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
0,10304468,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14T00:00:00.000,2020-02-13T00:00:00.000,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200105935,2020-01-29T00:00:00.000,2020-01-28T00:00:00.000,600,1,Central,124,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420,NaN,NaN,NaN,200 N MAIN ST,NaN,34.0532,-118.2425
996,200105938,2020-01-28T00:00:00.000,2020-01-27T00:00:00.000,1055,1,Central,111,2,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",...,IC,Invest Cont,956,NaN,NaN,NaN,600 ALPINE ST,NaN,34.0632,-118.2408
997,200105943,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,730,1,Central,157,1,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,AA,Adult Arrest,236,998.0,NaN,NaN,600 S SAN PEDRO ST,NaN,34.0423,-118.2452
998,200105945,2020-01-29T00:00:00.000,2020-01-28T00:00:00.000,1725,1,Central,124,2,903,CONTEMPT OF COURT,...,IC,Invest Cont,903,NaN,NaN,NaN,100 W 1ST ST,NaN,34.0522,-118.2434
999,200105946,2020-01-29T00:00:00.000,2020-01-29T00:00:00.000,720,1,Central,157,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624,NaN,NaN,NaN,600 S SAN PEDRO ST,NaN,34.0423,-118.2452

In [3]:
crime_df["date_rptd"] = crime_df["date_rptd"].str.split('T').str[0]
crime_df["date_occ"] = crime_df["date_occ"].str.split('T').str[0]

crime_df["date_rptd"] = pd.to_datetime(crime_df["date_rptd"]).dt.date
crime_df["date_occ"] = pd.to_datetime(crime_df["date_occ"]).dt.date

crime_df.head()

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,status,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon
0,10304468,2020-01-08,2020-01-08,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14,2020-02-13,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01,2020-01-01,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01,2020-01-01,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [4]:
unique_crimes = crime_df["crm_cd_desc"].unique()

print("Unique Crimes:")
print()

for crime in unique_crimes:
    print(crime)

Unique Crimes:

BATTERY - SIMPLE ASSAULT
SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
VANDALISM - MISDEAMEANOR ($399 OR UNDER)
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)
RAPE, FORCIBLE
SHOPLIFTING - PETTY THEFT ($950 & UNDER)
OTHER MISCELLANEOUS CRIME
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD
BURGLARY FROM VEHICLE
CRIMINAL THREATS - NO WEAPON DISPLAYED
ARSON
INTIMATE PARTNER - SIMPLE ASSAULT
THEFT PLAIN - PETTY ($950 & UNDER)
THEFT OF IDENTITY
ROBBERY
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
BURGLARY
VEHICLE - STOLEN
THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)
BRANDISH WEAPON
INTIMATE PARTNER - AGGRAVATED ASSAULT
BUNCO, GRAND THEFT
THEFT, PERSON
BATTERY WITH SEXUAL CONTACT
BIKE - STOLEN
BATTERY POLICE (SIMPLE)
LETTERS, LEWD  -  TELEPHONE CALLS, LEWD
VIOLATION OF COURT ORDER
TRESPASSING
THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)
VIOLATION OF RESTRAINING ORDER
DISTURBING THE PEACE
THEFT FROM MOTOR VEHICLE - ATTEMPT
THROWING OBJECT AT MOVING VEHICLE
EXTORTION
SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ
CHILD STEALING
CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)
ATTEMPTED ROBBERY
OTHER ASSAULT
BOMB SCARE
DOCUMENT FORGERY / STOLEN FELONY
SEXUAL PENETRATION W/FOREIGN OBJECT
SHOTS FIRED AT INHABITED DWELLING
BURGLARY, ATTEMPTED
INDECENT EXPOSURE
ORAL COPULATION
EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)
VIOLATION OF TEMPORARY RESTRAINING ORDER
BUNCO, PETTY THEFT
KIDNAPPING - GRAND ATTEMPT
SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
RESISTING ARREST
DISCHARGE FIREARMS/SHOTS FIRED
THREATENING PHONE CALLS/LETTERS
KIDNAPPING
LEWD/LASCIVIOUS ACTS WITH CHILD
LEWD CONDUCT
UNAUTHORIZED COMPUTER ACCESS
PURSE SNATCHING
SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH
CHILD NEGLECT (SEE 300 W.I.C.)
CONTEMPT OF COURT

In [5]:
# UCR Reporting Crime Codes
# Reference: "UCR-COMPSTAT062618.pdf"

# Homicide
homicide_codes = [110, 113]

# Rape
rape_codes = [121, 122, 815, 820, 821]

# Robbery
robbery_codes = [210, 220]

# Aggravated Assault
agg_assault_codes = [230, 231, 235]

# Domestic Violence
domestic_violence_codes = [236, 250, 251, 761, 926,
                           626, 627, 647, 763, 928, 930]

# Simple Assault
simple_assault_codes = [435, 436, 437, 622, 623, 624, 625]

# Burglary
burglary_codes = [310, 320]

# Grand Theft Auto (Motor Vehicle Theft)
gta_codes = [510, 520, 433]

# Burglary or Theft from Vehicle
btfv_codes = [330, 331, 410, 420, 421]

# Personal Theft
personal_theft_codes = [350, 351, 352, 353, 450, 451, 452, 453]

# Other Theft
other_theft_codes = [341, 343, 345, 440, 441, 442, 443, 444, 445,
                     470, 471, 472, 473, 474, 475, 480, 485, 487, 491]

ucr_dict = {"Homicide": homicide_codes,
            "Rape": rape_codes,
            "Robbery": robbery_codes,
            "Aggravated Assault": agg_assault_codes,
            "Domestic Violence": domestic_violence_codes,
            "Simple Assault": simple_assault_codes,
            "Burglary": burglary_codes,
            "Grand Theft Auto": gta_codes,
            "Burglary/Theft from Vehicle": btfv_codes,
            "Personal Theft": personal_theft_codes,
            "Other Theft": other_theft_codes}

# Custom map function to insert the crime category for each datapoint in the "crime_category" column based on 'crm_cd'
# Reference: https://favtutor.com/blogs/pandas-map#:~:text=The%20map%20function%20is%20one,DataFrame%20with%20the%20modified%20values.
def map_crime_categories(code):
    # For every crime key and its corresponding list of code values...
    # If code from current crime_df row is in the list of codes from current crime key...
    # Append the "crime_category" column for current row with current crime key
    # Otherwise, Append the "crime_category" column for current row with "Other"
    for crime, codes in ucr_dict.items():
        if code in codes:
            return crime
    return "Other"


crime_df["crime_category"] = crime_df["crm_cd"].map(map_crime_categories)

crime_df.head()

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,status_desc,crm_cd_1,crm_cd_2,crm_cd_3,crm_cd_4,location,cross_street,lat,lon,crime_category
0,10304468,2020-01-08,2020-01-08,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,Simple Assault
1,190101086,2020-01-02,2020-01-01,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,Simple Assault
2,200110444,2020-04-14,2020-02-13,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,Adult Arrest,845,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,Other
3,191501505,2020-01-01,2020-01-01,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,Other
4,191921269,2020-01-01,2020-01-01,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,Other

In [6]:
keep_columns = ["dr_no",
                "date_rptd",
                "date_occ",
                "time_occ",
                "area_name",
                "crime_category",
                "crm_cd",
                "crm_cd_desc",
                "vict_age",
                "vict_sex",
                "vict_descent",
                "premis_desc",
                "location",
                "cross_street",
                "lat",
                "lon"]

crime_df = crime_df[keep_columns]

crime_df

,dr_no,date_rptd,date_occ,time_occ,area_name,crime_category,crm_cd,crm_cd_desc,vict_age,vict_sex,vict_descent,premis_desc,location,cross_street,lat,lon
0,10304468,2020-01-08,2020-01-08,2230,Southwest,Simple Assault,624,BATTERY - SIMPLE ASSAULT,36,F,B,SINGLE FAMILY DWELLING,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01,330,Central,Simple Assault,624,BATTERY - SIMPLE ASSAULT,25,M,H,SIDEWALK,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14,2020-02-13,1200,Central,Other,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,0,X,X,POLICE FACILITY,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01,2020-01-01,1730,N Hollywood,Other,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01,2020-01-01,415,Mission,Other,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",31,X,X,BEAUTY SUPPLY STORE,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200105935,2020-01-29,2020-01-28,600,Central,Burglary/Theft from Vehicle,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),0,NaN,NaN,PARKING LOT,200 N MAIN ST,NaN,34.0532,-118.2425
996,200105938,2020-01-28,2020-01-27,1055,Central,Other,956,"LETTERS, LEWD - TELEPHONE CALLS, LEWD",64,F,O,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",600 ALPINE ST,NaN,34.0632,-118.2408
997,200105943,2020-01-29,2020-01-29,730,Central,Domestic Violence,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,25,F,H,STREET,600 S SAN PEDRO ST,NaN,34.0423,-118.2452
998,200105945,2020-01-29,2020-01-28,1725,Central,Other,903,CONTEMPT OF COURT,0,X,X,"GOVERNMENT FACILITY (FEDERAL,STATE, COUNTY & C...",100 W 1ST ST,NaN,34.0522,-118.2434
999,200105946,2020-01-29,2020-01-29,720,Central,Simple Assault,624,BATTERY - SIMPLE ASSAULT,50,M,H,SIDEWALK,600 S SAN PEDRO ST,NaN,34.0423,-118.2452

In [7]:
print(crime_df.dtypes)

dr_no               int64
date_rptd          object
date_occ           object
time_occ            int64
area_name          object
crime_category     object
crm_cd              int64
crm_cd_desc        object
vict_age            int64
vict_sex           object
vict_descent       object
premis_desc        object
location           object
cross_street       object
lat               float64
lon               float64
dtype: object

In [8]:
unique_count_ccats = crime_df['crime_category'].nunique()
unique_ccats = crime_df['crime_category'].unique()

print(unique_count_ccats)
print()
print(unique_ccats)

11

['Simple Assault' 'Other' 'Rape' 'Other Theft'
 'Burglary/Theft from Vehicle' 'Domestic Violence' 'Robbery'
 'Aggravated Assault' 'Burglary' 'Grand Theft Auto' 'Personal Theft']

In [9]:
unique_victim_sex = crime_df["vict_sex"].unique()

# Sex Code:
    # M - Male                 
    # F - Female
    # X - Unknown

print("Unique Victim Sex:")
print()
print(unique_victim_sex)

Unique Victim Sex:

['F' 'M' 'X' nan]

In [10]:
unique_victim_descents = crime_df["vict_descent"].unique()

# Descent Code:
    # A - Other Asian                 
    # B - Black
    # C - Chinese
    # D - Cambodian
    # F - Filipino
    # G - Guamanian
    # H - Hispanic/Latin/Mexican
    # I - American Indian/Alaskan Native
    # J - Japanese
    # K - Korean
    # L - Laotian
    # O - Other
    # P - Pacific Islander
    # S - Samoan
    # U - Hawaiian
    # V - Vietnamese
    # W - White
    # X - Unknown
    # Z - Asian Indian
    
print("Unique Victim Descents:")
print()
print(unique_victim_descents)

Unique Victim Descents:

['B' 'H' 'X' 'W' 'A' 'O' nan 'C' 'F' 'K' 'I']

In [11]:
unique_area_names = crime_df["area_name"].unique()

for area in unique_area_names:
    print(area)

Southwest
Central
N Hollywood
Mission
Devonshire
Northeast
Harbor
Van Nuys
West Valley
West LA
Wilshire
Pacific
Rampart
77th Street
Hollenbeck
Southeast
Hollywood
Newton
Topanga
Foothill
Olympic

In [13]:
# Export crime data to CSV
crime_df.to_csv("crime_data.csv", index = False)